<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClg4fof_bnIEfb7kfkfy31MsZSmlb3S9k</string>
	<key>GCM_SENDER_ID</key>
	<string>561524091377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrjsoftware.antioch</string>
	<key>PROJECT_ID</key>
	<string>antioch-dev-e224b</string>
	<key>STORAGE_BUCKET</key>
	<string>antioch-dev-e224b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561524091377:ios:dae8db0d1003d25b187c50</string>
</dict>
</plist>